body {
  background-color: #eeeeee;
  color: #901eae;
  margin: 0;
  padding: 0;
}

.header {
  color: #2caa90;
  padding: 15px;
}

.content {
  background-color: #901eae;
  color: #eeeeee;
  display: flex;
  padding: 15px;
}

p {
  margin: 0 15px;
}
