body {
  background-color: #eeeeee;
  color: #901eae;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
}

h2 {
    color: #2caa90;
}

.thumbnail {
  background-color: #2caa90;
  display: flex;
  padding: 15px;
}
.main-info {
  background-color: #eeeeee;
  color: #901eae;
  display: flex;
  padding: 15px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;

}

li{
    color: #2caa90;
}

p {
  margin: 0 15px;
}
